* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: rgb(9, 2, 26);
  accent-color: #09021a;
  color: #cacaf0;
  width: 100%;
  height: 100vh;
}
